main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    background-image: url(images/Mountains2.png);
    background-repeat: no-repeat;
    background-size: cover
}

.description-box {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
}

h1{
    text-align: center;
}

ol{
    margin-left:8%;
}

p{
    margin-left: 4%;
}

.description-box a{
    margin-left: 6%;
}

a{
    text-decoration: none;
}

.description-box :visited{
    color: blue;
}